<div class="row">
        <div class="col-md-12">
            <h2>{{title}}</h2>
        </div>
    </div>
    <div class="row">
        <form name="userForm" id="formUser" class="form-group col-lg-8" ng-submit="submitUpdateUserForm(userForm.$valid)" novalidate>
            <div class="form-group row">
                <label for="firstname" class="col-lg-2 col-form-label">First Name:</label>
                <input type="text"
                       disabled=true
                       id="firstname"
                       class="form-control col-lg-5"
                       name="name" ng-model="PatientData.patient.firstName"/>               
            </div>
            <div class="form-group row">
                <label for="lastname" class="col-lg-2 col-form-label">First Name:</label>
                <input type="text"
                       disabled=true
                       id="lastname"
                       class="form-control col-lg-5"
                       name="lastname" ng-model="PatientData.patient.lastName"/>               
            </div>
            <div class="form-group row">
                <label for="gender" class="col-lg-2 col-form-label">Gender:</label>
                <input type="text"
                       disabled=true
                       id="gender"
                       class="form-control col-lg-5"
                       name="gender" ng-model="PatientData.patient.gender"/>
            </div>
            <div class="form-group row">
                <label for="occupation" class="col-lg-2 col-form-label">Occupation:</label>
                <input type="text"
                       disabled=true
                       id="occupation"
                       class="form-control col-lg-5"
                       name="occupation" ng-model="PatientData.patient.occupation"/>
            </div>
            <br/>
            <h3>Measure Records:</h3>
            <div class="tablecontainer row">
                <div class="col-lg-12">
                    <div class="row measurerecordheader">
                            <div class="col-lg-3">MeasureType</div>
                            <div class="col-lg-2">Result</div>
                            <div class="col-lg-3">Note</div>
                            <div class="col-lg-4">Date</div>
                    </div>
                    <div class="row measurerecorddetailheader">
                            <div class="col-lg-4">Record Type</div>
                            <div class="col-lg-4">Value</div>
                            <div class="col-lg-4">Unit</div>
                    </div>
                    <div class="row measuredetailcontainer" ng-repeat="measure in PatientData.measureDetails">
                        <div class="col-lg-12">                                
                            <div class="row measurerecord">
                                <div class="col-lg-3">{{measure.MeasureRecord.measureTypeName}}</div>
                                <div class="col-lg-2">{{measure.MeasureRecord.recordResult}}</div>
                                <div class="col-lg-3">{{measure.MeasureRecord.recordNote}}</div>
                                <div class="col-lg-4">{{measure.MeasureRecord.createdDate}}</div>
                            </div>
                            <div class="row measurerecorddetail" ng-repeat="record in measure.MeasureRecordDetails">
                                    <div class="col-lg-4">{{record.recordType}}</div>
                                    <div class="col-lg-4">{{record.recordValue}}</div>
                                    <div class="col-lg-4">{{record.recordUnit}}</div>
                            </div>
                        </div>                                                        
                    </div>
                </div>
            </div>          
            
            <button ui-sref="patients" type="button" class="btn btn-info">List Patients</button>
            <!-- <button type="submit" class="btn btn-primary">Save</button> -->
        </form>
    </div>
    <style>
    .measurerecordheader{
        background-color: cornflowerblue;
        font-weight: bolder;
    }
    .measurerecorddetailheader
    {
        background-color: cornsilk;
        font-weight: bolder;
    }
    .measuredetailcontainer
    {
        border: 1px solid;
        margin-bottom: 4px;
    }
    </style>